:root.theme-dark {
  --text-color: rgb(241 178 206 / 1);
  --accent-color: rgb(255 0 112 / 1);
  --theme-menu-translucent-color: rgb(255 0 112 / 0.4);
  --title-color: rgb(219 0 255 / 1);
  --content-title-color: var(--accent-color);
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgb(0 0 40 / 1);
  --title-decor-color: var(--bg-color);
  --theme-menu-color: var(--accent-color);
  --corners-color: var(--accent-color);
}

.theme-dark .header__record-icon {
  display: flex;
}