:root.theme-light {
  --text-color: rgb(53 52 48 / 1);
  --accent-color: rgb(255 141 203 / 1);
  --theme-menu-translucent-color: rgb(50 49 45 / 0.4);
  --title-color: rgb(255 194 230 / 1);
  --content-title-color: var(--text-color);
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgb(255 241 247 / 1);
  --title-decor-color: var(--text-color);
  --theme-menu-color: var(--text-color);
  --corners-color: var(--text-color);
}

.theme-light .header__record-icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgb(53 52 48 / 1);
    --accent-color: rgb(255 141 203 / 1);
    --theme-menu-translucent-color: rgb(50 49 45 / 0.4);
    --title-color: rgb(255 194 230 / 1);
    --content-title-color: var(--text-color);
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247 / 1);
    --title-decor-color: var(--text-color);
    --theme-menu-color: var(--text-color);
    --corners-color: var(--text-color);
  }

  .header__record-icon {
    display: none;
  }
}